footer
  .wraper
    .footer-top
      .footer-column
        .footer-column__logo
          img.footer-column__img(src='/img/Logos/thetower-logo-b.svg', alt='')
        .footer-column__contacts.contacts
          span.contacts__info +998 (78) 147-11-99
          span.contacts__info info@thetower.uz
          span.contacts__info Furkat Str., 191, Tashkent
        .footer-column__social.social
          a.social__info(href="#") Facebook
          a.social__info(href="#") Instagram
      .footer-column
        .footer-column__row
          .footer-column__item
            h4.footer-column__header The Tower Group
            ul.footer-column__list
              li About us
              li Projects
              li Partners
              li Contacts
              li Careers
              li Media center
          .footer-column__item
            h4.footer-column__header Projects
            ul.footer-column__list
              li Shopping malls
              li Business centres
              li Social
              li Retail
              li Food and beverage
              li Media
    .footer-bottom  
        .footer-bottom__rights © 2018 The Tower Group. All rights reserved
        .footer-bottom__logo
          img(src='/img/Logos/orient-group-logo.svg', alt='')
        span.footer-bottom__lng English