section.partners
  .wraper
    h2 Our Partners
    .partners__row
      .partners__item
        img.partners__img(src="img/Logos/partner-logo-1.png")
      .partners__item
        img.partners__img(src="img/Logos/partner-logo-2.png")
      .partners__item
        img.partners__img(src="img/Logos/partner-logo-3.png")
