section.projects
  .wraper
    .projects-top
      h2 Projects
      .project-inner
        a.project-item(href="#")
          .project-item__top
            img.project-item__image(src="img/BGs/project-shopping-malls.jpg")
          .project-item__bottom
            .project-item__title shopping malls
            .project-item__icon
        a.project-item(href="#")
          .project-item__top
            img.project-item__image(src="img/BGs/project-business-centres.jpg")
          .project-item__bottom
            .project-item__title business centres
            .project-item-icon
        a.project-item(href="#")
          .project-item__top
            img.project-item__image(src="img/BGs/project-retail.jpg")
          .project-item__bottom
            .project-item__title retail
            .project-item__icon
        a.project-item(href="#")
          .project-item__top
            img.project-item__image(src="img/BGs/project-social.jpg")
          .project-item__bottom
            .project-item__title social projects
            .project-item__icon
        a.project-item(href="#")
          .project-item__top
            img.project-item__image(src="img/BGs/project-food.jpg")
          .project-item__bottom
            .project-item__title food and beverages
            .project-item__icon
        a.project-item(href="#")
          .project-item__top
            img.project-item__image(src="img/BGs/project-media-alt.jpg")
          .project-item__bottom
            .project-item__title media projects
            .project-item__icon

