section.wedo
  .wraper
    h2 What we do
    .wedo-inner
      .wedo-column
        .wedo-item
          img.wedo-item__icon(src="img/Elements/what-we-do-concept.svg")
          h3 Concept
          .wedo-item__text
            | We develop unique concepts for shopping malls and mixed-use retail projects, keeping in mind the characteristics and specifics of the area. We focus on the needs and interests of the residents, but also those of the potential visitors of the mall in order to define the correct positioning on the market of the asset.
          img.wedo-item__pic(src="img/Elements/what-we-do-image.jpg")
      .wedo-column
        .wedo-item
          img.wedo-item__icon(src="img/Elements/what-we-do-marketing.svg")
          h3 Marketing
          .wedo-item__text
            | Our target is to build a new lifestyle experience for our clients working on our image and always controlling the quality of our services in order to win customer recognition and loyalty. We design marketing campaigns according to each location guaranteeing growing traffic.
        .wedo-item
          img.wedo-item__icon(src="img/Elements/what-we-do-design.svg")
          h3 Design-Implementation
          .wedo-item__text
            | We create exclusive projects in cooperation with international architects, while concentrating on the best interests, features and desires creating a perfect lifestyle experience. We create each facility from the concept design stages, engineering stages as well as interior design making each location unique. We fully control the construction and all technical project implementations.
        .wedo-item
          img.wedo-item__icon(src="img/Elements/what-we-do-brandmix.svg")
          h3 Brokerage and brand-mix
          .wedo-item__text
            | We define the brand-mix according to the local market and demand. Our reputation as a Mall Management Company insuring sustainable traffic has allowed us to build a strong pool of tenants in collaboration also with Eurasia group brand portfolio under franchise. We protect the interest of all our tenants preparing the most favorable conditions for their business to flourish and making sure competition is controlled.
        .wedo-item
          img.wedo-item__icon(src="img/Elements/what-we-do-management.svg")
          h3 Management
          .wedo-item__text
            | Our team implements effective internal management systems for the shopping malls and retail mixed-use projects. This way we provide a guarantee of reliable and competent services. We control and monitor that the business plan projections are being followed and work on building the value and the performance of the asset and making sure the Return On Investment target is achieved.
